@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Ubuntu:wght@300&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}



/* title */
#title
{
   background-color: #ff4c68; 
   color: #fff;
   margin-bottom: -210px;
   
}
.navbar-brand
{
    font-weight: bold;
}
.fonttarget
{
    font-weight: bold;
     font-size: 3rem;
     line-height: 1.5;
}
.titleimage 
{
    width: 60%;
    transform: rotate(25deg);
    
    
    
}
.container-fluid
{
    padding: 3% 15%;
}
.navbar
{
    padding-bottom: 4.5rem;
    
}

.navcolor
{
    color: #fff;
}

/*features*/
#features
{
padding: 10rem 10rem; 
background-color: #fff; 
position: relative;
}
.iconfeatures
{
    
    color: #ff4c68;
}
.featurecontent
{
    color:grey;
}
.padfeatures 
{
    padding: 5%;
}



#features h3
{
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

#features i:hover
{
    color: black;
}



/* testimonials */
#testimonials
{
    color: white;
}
#testimonials img
{
    border-radius: 50%;
    width: 5rem;
    
}
.carousel-inner
{
    padding: 10rem 10rem;
    background-color: #ff4c68;
    text-align: center;
}
#press
{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.pressimage
{
    width: 10%;
    margin: 1rem;
}
.testimonial-text
{
    font-weight: bold;
    
    font-size: 2rem;
    line-height: 1.5;
    
}

/* pricing */
#pricing
{
    padding: 4rem 2rem 4rem;
}

.content h1
{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}
.content h5
{
    color: grey;
    text-align: center;
}
.content
{
    padding-bottom: 3rem;
}
.card-header
{
    background-color: #ff4c68;
    color: white;
}
/* call to action */
#cta
{
    background-color: #ff4c68;
    padding: 10%;
    text-align: center;
    
}
#cta h3{
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
}
/* footer */
#footer
{
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.nav-item
{
    color: #fff;
}

@media screen and (max-width: 800px) {
    
    .fonttarget
{
    font-weight: bold;
     font-size: 3rem;
     line-height: 1.5;
     text-align: center;
}

.titleimage 
{
    width:70%;
    transform: rotate(0deg);
    padding-top: 2rem;
    margin-left: 4rem;
    
    
    
}
#features
{
padding: 10rem 10rem; 
background-color: #fff; 
position: static;





}
.container-fluid
{
    padding: 3% 10%;
}
#title
{
   background-color: #ff4c68; 
   color: #fff;;
   margin-bottom: 0px;
   
}

.carousel-inner
{

    padding: 2rem 4rem;
    
}
#carousel img
{
    width:10%;
}
#press img
{
    width: 25%;
}
.testimonialusers
{
    font-size: 10px;
}
}